<html>
<head>
    <title>Fame.Hub</title>
       <!--Responsive Meta Tag-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lekton|Montserrat:400,500|Philosopher|Playfair+Display+SC:400,700|Rokkitt|Tangerine|ZCOOL+XiaoWei|El+Messiri|Open+Sans" rel="stylesheet">
  <!--Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--JQuery Library-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Ajax library-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link rel="icon" type="image/png" href="/static/images/app_icon.png">


<style>
body{
    font-family: 'Open Sans', serif;font-size: 17px;
}
#comment{
    color:green;
}
pre{
    font-family: 'Lekton', sans-serif;
    padding:10px;
background-color:black;
color:white;
overflow:auto;}
a:hover{
    color:rgb(40, 96, 131);
}
a:active{
    color:#2196f3;
}
a:hover {
    text-decoration: underline;
}
h5{color:steelblue;font-family: 'Playfair Display SC', serif;}
    h4,h3{
        color:steelblue;text-align:center;font-family: 'Playfair Display SC', serif;
    }
</style>
<style>
* {box-sizing: border-box;}

.mycontainer {
  position: relative;
  height:150px;
}

.image {
  display: block;
  width: 100%;
  height: 120px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.mycontainer:hover .overlay {
  opacity: 0.8;
}
.mycontainer:video{
    pointer-events: none;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 80%;
  left:0%;
}
</style>
</head>
<body>
<nav class="nav-extended green" id="top">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/static/images/app_icon.png" width="250" height="60"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons blue-text">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" title="Home"><i class="material-icons">home</i></a></li>
        <li><a href="#" title="Tube"><i class="material-icons">video_library</i></a></li>
        <li><a href="/" title="Other apps"><i class="material-icons">view_comfy</i></a></li>
         {% if user.is_authenticated %}
        <li><a href="/admin" title="{{user}}"><i class="material-icons">account_circle</i></a></li>
        {% else %}
         <li><a href="{% url 'login' %}" title="Login/Signup"><i class="material-icons">account_circle</i></a></li>
        {% endif %}
        <li><a href="/forum/" title="Discuss"><i class="material-icons">comment</i></a></li>
      </ul>
      <!--Mobile View-->
      <ul class="side-nav" id="mobile-demo">
       <li><div class="user-view">
      <div class="background">
        <img src="/static/lessons/uploads/Paper_Architecture_by_Dmitri_Popov.jpg" height="200px">
      </div>
      {% if user.is_authenticated %}
      {% if user.user_img %}
      <a href="#user"><img class="circle" src="{{user.user_img.url}}"></a>
      {% else %}
      <a href="#user"><img class="circle" src="/static/images/app_icon.png"></a>
      {% endif %}
      <a href="#name"><span class="blue-text name">{{user}}</span></a>
      <a href="#email"><span class="blue-text email">{{user.email}}</span></a>
      <a href="{% url 'logout' %}"><span class="blue-text email">logout</span></a>
      {% else %}
      <a href="#user"><img class="circle" src="/static/images/app_icon.png"></a>
      <a href="#name"><span class="blue-text name">Guest</span></a>
      <a href="#email"><span class="blue-text email">Guest</span></a>
       <a href="{% url 'login' %}"><span class="blue-text email">login</span></a>
      {% endif %}
    </div></li>
        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
        <li><a href="#"><i class="material-icons">video_library</i>Videos</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/"><i class="material-icons">view_comfy</i>Other Apps</a></li>
         {% if user.is_authenticated %}
        <li><a href="/admin"><i class="material-icons">account_circle</i>Account</a></li>
        {% endif %}
        <li><a href="/forum/"><i class="material-icons">comment</i>Forum</a></li>
      </ul>
    </div>
</nav>


<div class="row center-align">
    <!-- Trending videos -->
    <div class="col s12 m4 l4 red hide-on-med-and-down">
        <h4 style="color:white;"><u>Related Videos</u></h4>
        <ul class="collection">
        {% for lesson in related_list %}
        <a href="/tube/video/{{lesson.id}}/" class="collection-item red-text"><b style="font-size:18px;">{{lesson.title}}</b></a>
        {% empty %}
            <div class="card-panel orange white-text">No videos have been added yet.</div>
        {% endfor %}
        </ul>
<br>
<div>
    <h4 style="color:white;"><u>Other Videos</u></h4>
</div>

    </div>

    <div class="col s12 m4 l8" style="border:solid 0px grey;">
       <!-- <div class="row center-align">
             {% for video in video_list %}
    <div class="col s12 m6 l3" style="height:320px;">
        <br>
        <div class="card" style="height:300px;">
            <div class="card-image waves-effect waves-block waves-light">
            <div class="mycontainer">
              <img src="/static/images/music.jpg" height="150px;" class="image">
              <div class="overlay"><i class="material-icons left">play_arrow</i><i class="material-icons right">access_time</i></div>
            </div>
            </div>
            <div class="card-content" style="height:150px;">
              <span class="card-title activator grey-text text-darken-4">{{video.title}}<i class="material-icons right">more_vert</i></span>
              <p><a href="/tube/video/{{video.id}}" target="_blank">Watch Now!</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{video.title}}<i class="material-icons right">close</i></span>
              <p>{{video.vid_desc}}</p>
            </div>
    </div>
    <div class="divider"></div>
    <br>
    </div>
    <!--This break will make elements diagonal
    <br>
{% endfor %}
</div>-->

<br>
<div class="row">
    <div class="video-container">
        <iframe width="854" height="480" src="{{object.video.url}}" frameborder="1" allowfullscreen></iframe>
    </div>
</div>
<!-- Video Info -->
<div class="row">
  <div class="col s3">{{object.views}} Views</div>
  <!--
  <div class="col s1 green lighten-1">3</div>
  <div class="col s1 red lighten-1">4</div>
  <div class="col s1 red lighten-1">5</div>
  <div class="col s1 red lighten-1">6</div>
  -->
  <div class="col s2">
      <a href="#/" data-position="top" data-delay="50" data-tooltip="Like" class="waves-effect waves-light tooltipped" onclick="return likeVid()" btn-small><i class="material-icons green-text center" id="like-button-submit">thumb_up</i></a>
  <div id="likes" style="font-size:12px;">{{object.likes}}</div></div>
  <div class="col s2">
      <a href="#/" data-position="top" data-delay="50" data-tooltip="unlike" class="waves-effect waves-light tooltipped" onclick="return unlikeVid()"><i class="material-icons red-text center">thumb_down</i></a>
      <div id="unlikes" style="font-size:12px;">{{object.dislikes}}</div>
    </div>
    <div class="col s2">
      <a href="#/" data-position="top" data-delay="50" data-tooltip="Subscribe" class="waves-effect waves-light tooltipped"><i class="material-icons blue-text center">notifications</i></a>
      <div id="subscribers" style="font-size:12px;">51</div>
    </div>
</div>
<script>

    function login() {
        // Form fields, see IDs above
        const params = {
            title: document.querySelector('#id_title').value,
            intro_text: document.querySelector('#id_intro_text').value
        }
        var csrftoken = readCookie('csrftoken');
        var url = "http://famehub.pythonanywhere.com/tube/video/api_like/{{object.id}}/"

        const http = new XMLHttpRequest()
        http.open('POST', 'http://localhost:8000/api/v1/courses/all/python_lessons/')
        http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('X-CSRFToken',csrftoken)
        http.send(JSON.stringify(params)) // Make sure to stringify
        http.onprogress = function () {
          showdiv();
          setTimeout (function(){
            hidediv();
            showToast2('Lesson submitted', 3000)
            //alert("Done!")
          }, 2000)
          }
        //alert('LOADING', http.readyState);}
        http.onload = function() {
            // Do whatever with response
            //hidediv();
            console.log(http.responseText)
        }
    }

function likeVid() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      //document.getElementById("demo").innerHTML =
      var resp = this.responseText
      var message = JSON.parse(resp)['message'];
      var success = JSON.parse(resp)['success'];
      var likes = JSON.parse(resp)['likes'];
      var unlikes = JSON.parse(resp)['unlikes'];
      if (success){
      showSuccess(message, 3000);}
      else{
        showError(message, 3000);
      }
      document.getElementById("likes").innerHTML = likes;
      document.getElementById("unlikes").innerHTML = unlikes;
      console.log(resp);
    }
  };
  xhttp.open("GET", "http://famehub.pythonanywhere.com/tube/video/api_like/{{object.id}}/", true);
  xhttp.send();
}

function unlikeVid() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      //document.getElementById("demo").innerHTML =
      var resp = this.responseText
      var message = JSON.parse(resp)['message'];
      var success = JSON.parse(resp)['success'];
      var likes = JSON.parse(resp)['likes'];
      var unlikes = JSON.parse(resp)['unlikes'];
      if (success){
      showSuccess(message, 3000);}
      else{
        showError(message, 3000);
      }
      document.getElementById("unlikes").innerHTML = unlikes;
      document.getElementById("likes").innerHTML = likes;
      console.log(resp);
    }
  };
  xhttp.open("GET", "http://famehub.pythonanywhere.com/tube/video/api_unlike/{{object.id}}/", true);
  xhttp.send();
}

 function showSuccess(message, duration) {
            Materialize.toast(message, duration, 'rounded green');
         }
function showError(message, duration) {
            Materialize.toast(message, duration, 'rounded white red-text');
         }

</script>



<div class="divider"></div>

<div class="container">

  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <div class="col s12 m4 l12">
          <div class="row valign-wrapper">
            <div class="col s4">
                <span>{{object.user}}</span>
              <img src="/static/images/music.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="black-text" style="font-size:15px;">
                Published on {{object.date_created|date}} at {{object.date_created|time}}
              </span>
            </div>
        </div>
        <i class="material-icons">arrow_drop_down</i>
      </div>
      </div>
      <div class="collapsible-body">
          {{object.vid_desc}}
      </div>
    </li>
  </ul>

</div>

<script type="text/javascript">
 $(document).ready(function(){
    $('.collapsible').collapsible();
     $('.tooltipped').tooltip({delay: 50});
  });
</script>



<div class="divider"></div>


<!--Comments section-->
    <div class="row container" id="#comment">
      <h4 class="light">Comments</h4>

      <form action="#" method="post">
        {% csrf_token %}

        	{% if messages %}
        <div style="text-align:center;">
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags == 'error' %}

        <script>
        $(document).ready(function(){
    $(showError('{{message}}', 3000));
 });
        </script>
        {% else %}
                <script>
        $(document).ready(function(){
    $(showSuccess('{{message}}', 3000));
 });
        </script>

        {% endif %}
        {% endfor %}
    </ul>
    </div>
    {% else %}
<!--
<div id="mydiv" style="display:none;">
<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
</div>-->
        {% endif %}

    <div class="row">
      <div class="input-field col s12">
        <textarea name="comment" class="materialize-textarea" data-length="5000" required></textarea>
        <label for="froala-editor">Comment</label>
      </div>
    </div>

    <div class="row hide">
      <div class="input-field col s12">
        <input id="video" name="video" class="materialize-text" value="{{object.id}}">
        <label for="video"></label>
      </div>
    </div>

  <button type="submit" class="waves-effect waves btn blue right">Post</button>
</form>

    </div>



        <!--<div class="left-align">
            <a href="https://www.onlinegdb.com/online_python_compiler" class="waves-effect waves-light btn">Try it yourself</a>
        </div>
        <br>
        <div>You can head over to the <a class="waves-effect waves-light btn blue" href="/forum/">forum page</a> to interact with others</div>
        <br>-->

  <!-- Comments Section -->

    <div class="container">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">chat</i>Comments</div>
      {% for comment in comments %}
      <div class="collapsible-body"><span>{{comment.comment}}</span></div>
      {% endfor %}
    </li>
  </ul>

</div>

<script type="text/javascript">
 $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>


    </div>
    <!--
    <div class="col s12 m4 l2 purple hide-on-med-and-down">
        <div class="card-panel z-depth-5">
            <div class="header purple-text" style="font-size:20px;"><u>Recommended</u></div>
        </div>
    </div>-->




    <!-- Related Videos on Mobile -->
    <div class="col s12 m4 l2 red hide-on-large-only">
        <div class="card-panel z-depth-5">
            <div class="header red-text" style="font-size:20px;"><u>Related Videos</u></div>

            <div class="row center-align">
             {% for video in related_list %}
    <div class="col s12 m6 l3" style="height:320px;">
        <div class="card" style="height:300px;">
            <div class="card-image waves-effect waves-block waves-light">
            <div class="mycontainer">
                <div style="height:100px;">
                    <video controls>
                        <source src="{{video.video.url}}" type="video/mp4">
                    </video>
                </div>
              <div class="overlay"><a href="/tube/video/{{video.id}}" style="color:white;"><i class="material-icons left">play_arrow</i></a><span class="new badge" data-badge-caption="Views">{{video.views}}</span></div>
            </div>
            </div>
            <div class="card-content" style="height:150px;">
              <span class="card-title activator grey-text text-darken-4 center" style="font-size:15px;">{{video.title}}<i class="material-icons right">more_vert</i></span>
              <p><a href="/tube/video/{{video.id}}" target="_blank">Watch Now!</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 center" style="font-size:15px;">{{video.title}}<i class="material-icons right">close</i></span>
              <br>
              <hr>
              <span>
                    <ul class="collection">
                  <a href="#" class="collection-item blue-text"><b style="font-size:15px;">Subscribe</b></a>
                  <a href="#" class="collection-item blue-text"><b style="font-size:15px;">Like</b></a>
                    </ul>
              </span>
            </div>
    </div>
    <div class="divider"></div>
    </div>
    <!--
    <div class="col s12 m6 l3 amber"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3 blue"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3 yellow accent-4"><p>s12 m6 l3</p></div>-->
{% endfor %}
</div>


        </div>
    </div>
</div>


<footer class="page-footer blue lighten-3">
    <div class="row">
      <div class="row center-align">
        <h5 class="black-text" style="padding:10px;"><u>CampuzHub</u></h5>
        <p class="grey-text text-lighten-4" style="padding:10px;font-family: 'Tangerine', cursive;font-size:30px;"><b>Feel the campuz hype</b></p>
      </div>
      <div class="row center-align">
        <h5 class="black-text"><u>Videos</u></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Dance Videos</a></li>
            <!--
          <li><a class="grey-text text-lighten-3" href="#!">CSS3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bootstrap 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bootstrap 4</a></li>
          -->
          <li><a class="grey-text text-lighten-3" href="#!">Songs</a></li>
        </ul>
      </div>
      <div class="row center-align">
        <h5 class="black-text"><u>Campuz</u></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">News</a></li>
         <!-- <li><a class="grey-text text-lighten-3" href="#!">Microsoft .NET</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">PHP/MySQL</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Python</a></li>-->
          <li><a class="grey-text text-lighten-3" href="#!">Campuz filla</a></li>
        </ul>
      </div>
    <div class="container">
    <div class="row center-align">
    <div class="col s12 m6 l3"><p><a class="btn-floating red"><i class="fa fa-google"></i></a></p></div>
    <div class="col s12 m6 l3"><p><a href="https://www.facebook.com/pythonwithellie/" class="btn-floating blue darken-1"><i class="fa fa-facebook"></i></a></p></div>
    <div class="col s12 m6 l3"><p><a class="btn-floating red"> <i class="fa fa-youtube"></i></a></div>
    <div class="col s12 m6 l3"><p><a class="btn-floating blue"> <i class="fa fa-linkedin"></i></a></p></div>
    </div>
    </div>
</div>

  <div class="footer-copyright">
        <div class="col l6 m6 s12" style="padding:10px;font-size:12px;">&copy; 2018 Copyright <a class="white-text text-lighten-4" href="http://learn.pythonanywhere.com/" target="_blank">FameHub</a></div>
        <br/>
        <br/>
        <!--<div class="col l6 m6 s12" style="padding:10px;font-family: 'Tangerine', cursive;font-size:20px;"><a class="grey-text text-lighten-4 right" href="https://firebase.google.com/official/site" target="_blank">Firebase Logo is a TradeMark of Google Firebase</a></div>
       -->
        <div class="col l6 m6 s12" style="padding:10px;font-size:12px;"><a class="grey-text text-lighten-4 right" href="http://learn.pythonanywhere.com/" target="_blank">Designed By P y w E</a></div>
  </div>
</footer>

<script>
    var roomName = "{{user}}"/*{{ room_name_json }}*/;

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/tube/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        $(document).ready(function(){
        $(showError(message, 3000));});
        //var ul = document.getElementById("list");
        //var li = document.createElement("li");

        /*document.querySelector('#chat-log').value += (message + '\n');

        li.appendChild(document.createTextNode(message));
        li.setAttribute("class", "card-panel col s6 m6 green white-text z-depth-5");
        ul.appendChild(li);
        var container = $('#out')[0];
var containerHeight = container.clientHeight;
var contentHeight = container.scrollHeight;

container.scrollTop = contentHeight - containerHeight;

    };*/

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    /*document.querySelector('#like-button').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };*/

    document.querySelector('#like-button-submit').onclick = function(e) {
        /*var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;*/
        var obj = { video_id:"{{object.id}}" , user: "{{user.id}}", name: "{{user.username}}" };
        //var ul = document.getElementById("list");
        //var li = document.createElement("li");



        /*document.querySelector('#chat-log').value += (message + '\n');*/

        /*li.appendChild(document.createTextNode(message));
        //li.setAttribute("class", "card-panel col s5 m6 offset-s6 offset-m6 black white-text z-depth-5");
        //ul.appendChild(li);

        var container = $('#out')[0];
var containerHeight = container.clientHeight;
var contentHeight = container.scrollHeight;

container.scrollTop = contentHeight - containerHeight;*/


        chatSocket.send(JSON.stringify({
            'message': obj
        }));

        //messageInputDom.value = '';
    };
</script>

<!--Import materialize.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
    $( document ).ready(function(){
     $(".button-collapse").sideNav();
     $('.fixed-action-btn').openFAB();
    $('.fixed-action-btn').closeFAB();
    $('.fixed-action-btn.toolbar').openToolbar();
    $('.fixed-action-btn.toolbar').closeToolbar();
    });
    $("pre").addClass("card-panel black blue-text");
    </script>


 <script>
    $(function(){
    $('#btn1').on('click', function(){
        if($('p').hasClass('myClass flow-text')){
        $('p').removeClass('myClass flow-text');
        $('ul').removeClass('myClass flow-text');}
        else{
            $('p').addClass('myClass flow-text');
            $('ul').addClass('myClass flow-text');
        }
    });
});
</script>
<script>
var myIndex = 0;
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var c = document.getElementsByClassName("counter");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    for (i = 0; i < c.length; i++){
     c[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    c[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 5 seconds
}
</script>
 <script>
         function showToast(message, duration) {
            Materialize.toast(message, duration);
         }
         function showToast1(message, duration) {
            Materialize.toast('<i>'+ message + '</i>', duration);
         }
         function showError(message, duration) {
            Materialize.toast(message, duration, 'rounded white red-text');
         }
         function showSuccess(message, duration) {
            Materialize.toast(message, duration, 'rounded white green-text');
         }
         function showToast3(message, duration) {
            Materialize.toast('Hello World!', duration, '', function toastCompleted() {
               alert('Toast dismissed!');
            });
         }
      </script>

</body>
</html>